:root {
    --mainFont: #0322ed;
}

* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    margin: 0px 0px;
}

/* Container Grid */

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr 1fr auto;
    gap: 10px 0px;
}

/* Header */

.header {
    grid-column: 1/2;
    width: 100%;
    border-bottom: 3px solid var(--mainFont);
}

#title {
    font-size: 2.5em;
    text-align: center;
    color: var(--mainFont);
}

/* Img-div */

#img-div {
    grid-column: 1/2;
    grid-row: 2;
}

figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0px 20px 0px 20px;
}

#image {
    max-width: 100%;
    max-height: 400px;
    justify-self: center;
}

#img-div figcaption {
    justify-self: center;
    font-size: .8rem;
    color: var(--mainFont);
}

/* Info Section */

.info {
    border-top: 3px solid var(--mainFont);
}

/*Story */

.story {
    color: var(--mainFont);
    text-align: center;
}

.story > p {
    margin: 10px 20px;
}

/* Releases */
.releases {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "head head"
        "album1 album2";
    text-align: center;
    color: var(--mainFont);
}

.releases > h3 {
    grid-area: head;
    width: 100%;
    align-self: center;
    justify-self: center;
}

#fastForward {
    grid-area: album1;
    justify-self: center;
    align-self: center;
    width: 100%;
}

#fastForwardHover {
    grid-area: album1;
    justify-self: center;
    align-self: center;
    width: 200px;
    z-index: 2;
}

#shoulder {
    grid-area: album2;
    justify-self: center;
    align-self: center;
    width: 100%;
}

#shoulderHover {
    grid-area: album2;
    justify-self: center;
    align-self: center;
    max-width: 200px;
    z-index: 2;
}

.album {
    max-width: 200px;
    height: auto;
}

.albumHover {
    height: 203px;
}

#shoulderHover:hover {
    background: rgb(255, 255, 255, 0.75);
}

#fastForwardHover:hover {
    background: rgb(255, 255, 255, 0.75);
}

.coverArt {
    max-width: 200px;
    height: auto;
}

/* Social  Media */

.socialMedia {
    text-align: center;
}

.socialMedia table {
    margin: 0 auto;
}

@media screen and (min-width: 900px) {

    /* Container Grid */

    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

    .socialMedia {
        grid-column: 1/3;
    }
}